body {
    font-family: 'Times New Roman', Times, serif;
    background-color: peachpuff;
}

main {
    display: flex;
}

main > ul {
    flex: none;
}

.selected {
    background-color: dodgerBlue;
}
  
.selected a {
    color: cornSilk;
}