body {
    font-family: 'Times New Roman', Times, serif;
    background-color: peachpuff;
}

main {
    display: flex;
}

main > ul {
    flex: none;
}

.selected {
    background-color: dodgerBlue;
}
  
.selected a {
    color: cornSilk;
}

button {
    border-radius: 25px;
    background-color: white;
    color: black;
    margin: .5rem;
}